{% extends 'base.html' %}
{% block title %} Welcome {% endblock %}
{% block content %}
    <div class="container">
    <div class="row">
        <div class="col-11">
            <h1 class="fw-bold mb-4">Welcome, {{club['email']}} </h1>
        </div>
        <div class="col-1 d-flex align-items-center justify-content-end">
            <a class="btn btn-primary btn-rounded" href="{{url_for('logout')}}">Logout</a>
        </div>
    </div>
    <div class="row">
        <h4 class="fw-light mb-4">Points available: {{club['points']}}</h4>
    </div>
    <div class="border border-light rounded-2">
    <div class="row d-flex align-items-center justify-content-center">

        <h3 class="d-flex" id="titre-h3">Nouvelle Compétitions</h3>
    </div>
        <table class="table table-striped table-bordered">
     <thead>
            <tr>
                <th scope="col">Competition</th>
                <th scope="col">Date</th>
                <th scope="col">Places restante</th>
                <th scope="col">Places Réservé</th>
                <th scope="col">Réservation</th>
            </tr>
     </thead>
            <tbody>
            {% for comp in new_competitions %}
                <tr>
                    <td>{{comp['name']}}</td>
                    <td>{{comp['date']}}</td>
                    <td>{{comp['numberOfPlaces']}}</td>
                    {% for item in places_reserved %}
                        {% if item['competition'] == comp['name'] and item['club'] == club['name'] %}
                            <td>{{ item['placesRestantes'] }}</td>
                        {% endif %}
                        {% if item['competition'] == comp['name'] and item['club'] == club['name'] and item['placesRestantes'] <= 11 and item['placesRestantes'] != 12 %}
                        <td><a class="btn btn-primary btn-rounded" href="{{ url_for('book',competition=comp['name'],club=club['name']) }}">Book Places</a></td>
                        {% elif item['competition'] == comp['name'] and item['club'] == club['name'] and item['placesRestantes'] == 12  %}
                        <td><a class="btn btn-danger btn-rounded" >Book Over</a></td>
                        {% endif %}
                    {% endfor %}
            {% endfor %}
                </tr>
            </tbody>
        </table>

    </div>
        <div class="row">
        <h3>Ancienne Compétitions</h3>
        </div>
            <table class="table table-striped table-bordered">
     <thead>
            <tr>
                <th scope="col">Competition</th>
                <th scope="col">Date</th>
                <th scope="col">Places Restante</th>
                <th scope="col">Places Réservé</th>
                <th scope="col">Réservation</th>
            </tr>
     </thead>
            <tbody>
            {% for comp in old_competitions %}
                <tr>
                    <td>{{comp['name']}}</td>
                    <td>{{comp['date']}}</td>
                    <td>{{comp['numberOfPlaces']}}</td>
                    {% for item in places_reserved %}
                        {% if item['competition'] == comp['name'] and item['club'] == club['name'] %}
                            <td>{{ item['placesRestantes'] }}</td>
                        {% endif %}
                    {% endfor %}
            <td><a class="btn btn-danger btn-rounded" >Book Over</a></td>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
